DATABASE_URL=postgresql://neondb_owner:npg_OuiMy0v9LNtU@ep-curly-lake-aphagq9p-pooler.c-7.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
SECRET_KEY=medinsight_super_secret_key
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60
GEMINI_API_KEY=AIzaSyCNvxYc1v49Ac1a2isa7p6ZQXdWrZBs7LM

EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USERNAME=nexoralabsinnovate@gmail.com
EMAIL_PASSWORD=skrfhwwhmrgkmwie
EMAIL_FROM=nexoralabsinnovate@gmail.com
FRONTEND_URL=http://localhost:3000